################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Debug/LifeLite.ilk
/.vs/LifeLite/v15/Browse.VC.opendb
/.vs/LifeLite/v15/.suo
/.vs/LifeLite/v15/ipch/AutoPCH
/Debug/LifeLite.pdb
/LifeLite/Debug
/LifeLite/x64/Debug
/LifeLite/Button.h
